/* src/index.css */
:root {
  
  --bg-dark-primary: #0F172A;   
  --bg-dark-secondary: #1E293B; 
  
  --text-light-primary: #F1F5F9; 
  --text-light-secondary: #94A3B8; 

  --accent-green: #22C55E;      
  --accent-purple: #A855F7;    
  

  --priority-high: #F97316;     
  --priority-medium: #3B82F6;   
  --priority-low: #374151;      
}

/* Estilos globales */
body {
  margin: 0;
  /* Tipografía Sans-Serif */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: var(--bg-dark-primary);
  color: var(--text-light-primary);
}

/* Estilos base para inputs */
textarea, select, input {
  font-family: inherit;
  font-size: 1rem;
  background-color: var(--bg-dark-primary);
  color: var(--text-light-primary);
  border: 1px solid var(--text-light-secondary);
  border-radius: 6px; /* Esquinas redondeadas */
  padding: 10px;
  margin: 5px 0;
}

textarea {
  width: 100%;
  box-sizing: border-box; /* Para que el padding no desborde */
}

select {
  padding: 11px 10px; /* Ajuste para alinear con textarea */
}

/* Línea horizontal */
hr {
  border: none;
  border-top: 1px solid var(--bg-dark-secondary);
  margin: 20px 0;
}